/* Gerais */

* {
    font-family: "Inter", sans-serif;
}

.text-principal {
    color: black;
}

.bg-body {
    background-color: black;
}

.container {
    margin-top: 200px;
}

/* Alterações nas classes Bootstrap */

.btn-primary {
    color: white !important;
    background-color: black !important;
    border-color: black !important;
}

.btn-primary:hover {
    color: black !important;
    background-color: transparent !important;
    border-color: black !important;
}

.text-black:hover {
    color: #313131 !important;
}

.nomesEquipe{
    list-style: none;
}

.nomesEquipe li{
    margin-top: 5%;
}
.btn-secondary {
    color: black !important;
    background-color: white !important;
    border-color: white !important;
}

.btn-secondary:hover {
    color: white !important;
    background-color: transparent !important;
    border-color: white !important;
}
